body{
    background-color: rgb(0, 0, 0);

    h1, h2, p, button {
        color: white; /* Altera a cor do texto para branco */
    }

    button {
        background-color: #333;
        color: white;
        border: 1px solid #ccc;
        padding: 10px;
        cursor: pointer;
    }

    button:hover {
        background-color: #555;
    }
}